<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragment/fragment::commonHeader(公司)">
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div th:replace="/fragment/fragment::leftNav"></div>
            <div th:replace="/fragment/fragment::topNav"></div>
            <div th:replace="/fragment/fragment::rightNav"></div>
            <footer th:replace="/fragment/fragment::footer"></footer>
        </div>
    </div>
</body>
</html>